body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  color: #333;
}

.container {
  background-color: rgb(250 250 250 / 95%);
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  width: 550px;
  max-width: 90%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 50px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #444;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

#task-input {
  flex-grow: 1;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 1rem;
}

#task-input.empty-task {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

#task-input::placeholder {
  color: #aaa;
}

#add-task-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#add-task-btn:hover {
  background-color: #218838;
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.8rem 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
  margin-bottom: 4px;
}

.task-item:last-child {
  margin-bottom: 0;
}

.task-item:hover {
  background-color: #f9f9f9;
  transform: translateY(-2px);
}

.task-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
  flex-shrink: 0;
}

.task-item input[type="checkbox"]:checked {
  background-color: #28a745;
  border-color: #28a745;
}

.task-item input[type="checkbox"]:checked::after {
  content: "\2713"; /* Checkmark character */
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-item .task-text {
  flex-grow: 1;
  text-align: left;
  font-size: 1.1rem;
  color: #555;
  transition: color 0.3s ease;
}

.task-item .task-text.completed {
  text-decoration: line-through;
  color: #aaa;
}

.task-item .delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 1rem;
  transition: background-color 0.3s ease;
}

.task-item .delete-btn:hover {
  background-color: #c82333;
}
